* {
    margin: 0;
    padding: 0;
}

header {

    background-color: coral;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem ; 
}

span {
    color: white;
}





header ul {
    list-style: none;
    display: flex;
}

header a {
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    border-left: 1px solid #fff;

}

#photo img {
    width: 100%;
    height: 300px;
}

.par {

    display: flex;
    justify-content: space-around;
    background-color: coral;
    flex-wrap: wrap;

}

.box {
    border: 1px solid #000;
    margin: 1rem 1.5rem;
    width: 20%;
    text-align: center;
    padding: 1rem;
    border-radius: 5px;
    
}

.b {
    display: flex;
    border: 1px solid white;
    align-items: center;

}




.list {
    display: flex;
    margin: 5rem;
}

.list .detail{
    width: 25%;
}

.list .paragraphs{
    width: 75%;
}

.list .detail ul{
    list-style: none;
}

@media all and (max-width:790px){
    header{
        
        display: flex;
        /* width: 200px; */
        flex-direction: column;
    }

    .box{
        margin: 0.2rem;
        padding: 0.2rem;
        width: 50%;
    }
}
